/* переменные */

:root {
--w: #fff;
--b: #000;
--c1: #fff;
--c2: #F1F1F1;
--c3: #ECF4F9;
--c4: #f1f1f1c4;
--c5: #ecf4f9bc;
--b1: #000;
--b2: #202020;
--a1: #00aeef;
--a2: #00afefd5;
--bb: #BBBBBB;
--dd : #ddd;
--ee : #eee;

--s1: 0px 0px 15px 0px rgba(0,0,0,0.15);

--blur: blur(30px);
--br1 : 1px solid rgba(230, 230, 230, 0.931);
--tro : .2s opacity ease-in-out;
--trc : .2s color ease-in-out;
--trb : .2s background-color ease-in-out;
--trt : .2s transform ease-in-out;


  /* backdrop-filter: blur(30px); */
} 



/* RESET DEF STYLE */

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  font-weight: normal;
}

*::-webkit-scrollbar {
  background-color: var(--c3);
  width: 3px;
  height: 3px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--a1);
}

body::-webkit-scrollbar {
  background: transparent;
  width: 8px;
  transition: 1s ease-in-out;
  opacity: 1;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--a1);
  opacity: 1;
}





html {
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  min-width: 320px;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--c1);
  color: var(--b1);
  font-size: 14px;
  font-family: "1", sans-serif;
  font-weight: normal;
  overflow: visible;
  position: relative;
  padding-bottom: 120px;
  min-height: 100vh;
}


.hidden {
  display: none!important;
}

p {
  font-size: 1rem;
}

a {
  visibility: visible;
  color: var(--a1);
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

b {
  font-weight: 800;
  font-family: '2';
}

i,
em {
  font-style: normal;
}

video {
  border: none;
}


button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

textarea {
  overflow: auto;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

h1 {
  display: flex;
}

h2, h3 , h4, h5, h6, p ,ol{
  padding: 0;
  margin: 0;
  font-weight: normal;
}


a:focus,
a:hover {
  text-decoration: underline;
}

input,
button,
select,
textarea {
  border: transparent;
  outline: 0;
}



.center {
  margin: 0 auto;
  width: 1200px;
  max-width: 100%;
  position: relative;
  padding-left: 12.5px;
  padding-right: 12.5px;

}



.__ca {
  color: var(--a1)!important;
  font-weight: 400;
}

.__cw {
  color: var(--w)!important;
}

.bg__green {
  background: #1fb137!important;
  color: #fff!important;
}

.bg__dark {
  background: #131518!important;
  color: #fff!important;
}

.bg__gray {
  background: #1c2838!important;
  color: #fff!important;
}

.bg__blue {
  background: #00aeef!important;
  color: #fff!important;
}


img {
  object-fit: cover;
  color: transparent;
  border-style: none;
  user-select: none;
  outline: none;
  border: none;
  user-select: none;
  /* pointer-events: none; */
}



textarea::-webkit-scrollbar-thumb {
  display: none;
}


textarea {
  resize: none;
}

a:hover {
  text-decoration: none;
}

.mt60 {
  margin-top: 60px;
}

.mb60 {
  margin-bottom: 60px;
}

.pt60 {
  padding-top: 60px;
}

.pb60 {
  padding-bottom: 60px;
}


/* --------------------verstka start--------------------- */


.example {
  display: flex;
  transition: all 0.5s;
  user-select: none;
}